<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br>
 <section class="section">
 <div class="container">
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :profile_photo %>
    <%= form.text_field :profile_photo %>
  </div>

  </div>
  </section>
<% end %>
<%= link_to 'Create new Tweet', new_tweet_path, class:"btn btn-success mb-5" %>
