<div class="container text-center">
<%= render 'form', tweet: @tweet %>

      <h1>Tweets</h1>
        <% if current_user %>
        <h2 class= "text-primary text-center">
        <%= flash[:alert] = "Bienvenido" %></h2> 
    <% end %>

    <form class="form-inline-center">
      <input class="form-control mr-sm-2" type="search" placeholder="Search"
      aria-label="Search" name="content">
      <button class="btn btn-outline-success my-2 my-ms-5"
      type="submit">Search</button>
  </form>      


  <div class="row">
    <% @tweets.each do |tweet| %>
      <div class="col-md-10 container">
        <div class="thumbnail">
          <%= image_tag (tweet.user.profile_photo), width: 100 if tweet.user.profile_photo != nil %>
          <div class="container mx-auto">
          <%= tweet.content %>
          </div>
          <small><%=link_to  time_ago_in_words(tweet.created_at), tweet %> ago</small>
      </div>


          <% if user_signed_in? %>
            <nav class="level">
              <div class="level-left is-mobile">
                <% pre_like = tweet.likes.find { |like| like.user_id == current_user.id} %>

                <% if pre_like %>
                  <%= link_to tweet_like_path(tweet), method: :post, class: "level-item" do %>
                    <span class="icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> </span>
                    <%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? '' : ''%>
                  <% end %>
                  <% else %>
                  
                  <%= link_to tweet_like_path(tweet), method: :post, class: "level-item" do %>
                    <span class="icon"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> </span>
                    <%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? '' : ''%>
                  <% end %>
                <% end %>

                <%= link_to create_rt_tweet_path(tweet.id), method: :post, class: "level-item" do %>
                  <span class="icon"><i class="fa fa-retweet" aria-hidden="true"></i> </span>
                  <%= tweet.retweets.count %> <%= (tweet.retweets.count) == 1 ? '' : ''%>
                <% end %>

                <%= link_to edit_tweet_path(tweet), class: "level-item" do %>
                  <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i> </span>
                <% end %>

                <%= link_to tweet, method: :delete, data: {confirm: "Estas seguro de eliminar el tweet"} do %>
                  <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i> </span>
                <% end %>
              </div> 
            </nav>
          <% end %>
        </div>
    <% end %>
  </div>
 

<%#= will_paginate @paginated_tweets, previous_label: '', next_label: 'Mostrar más Tweets' %>
