<p id="notice"><%= notice %></p>

<h1>Tweets</h1>
<% if current_user %>
<h2 class= "container text-primary">
<%= flash[:alert] = "Bienvenido" %></h2>
<%= link_to 'Create new Tweet', new_tweet_path, class:"btn btn-success mb-5" %>
<% end %>


<br>
<table class= "table table-striped" >
  <thead>
    <tr>
      <th>Content</th>
      <th>Profile photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.content %></td>
        <td><%= image_tag (tweet.user.profile_photo), width: 100 if tweet.user.profile_photo != nil %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Like', tweet_like_path(tweet), method: :post %> <%= tweet.likes.count %></td>
        <td><%= link_to 'Retweet', create_rt_tweet_path(tweet), method: :post%></td>
      </tr>
    <% end %>
  </tbody>

</table>


<%= will_paginate @paginated_tweets, previous_label: '', next_label: 'Mostrar más Tweets' %>
